footer {
    position: absolute;
    padding: 60px 0;
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 0;
    background-color: #dc3545;
  }
  
  .footer-content {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .social-medias {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .social-media {
    display: grid;
    justify-content: center;
  }
  
  footer p {
    color: white;
    font-weight: 750;
  }
  
  .social-media i {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
  }
  .social-media p {
    font-weight: 750;
  }
  .social-media a {
    text-decoration: none;
  }