<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="informacoesEstilo.css" />
  </head>
  <body>
    <div class="page">
      <form> 
        <div class="headline">
          <h1>Informações de Reserva</h1>
        </div>

        <div class="info-wrapper">
          <h2>Nome do titular</h2>
          <p>Luís da Silva</p>
        </div>

        <div class="info-wrapper">
          <h2>RG</h2>
          <p>00000000000</p>
        </div>

        <div class="info-wrapper">
          <h2>CPF</h2>
          <p>000.000.000-00</p>
        </div>

        <div class="info-wrapper">
          <h2>Data de Nascimento</h2>
          <p>14/03/2003</p>
        </div>

        <a href="/app/Views/editarReserva/editarReserva.html" class="edit">Editar Reserva</a>
      </form>
    </div>
    <script src="https://kit.fontawesome.com/a9f38024b9.js" crossorigin="anonymous"></script>
  </body>
</html>
